@{
    ViewData["Title"] = "Dashboard - Agenda de Contatos";
}
<div>
    <h2>Bem-vindo ao Dashboard da Agenda de Contatos!</h2>
    <p>Use o menu para navegar pelas funcionalidades disponíveis.</p>
</div>
<div>
    <button type="button">Novo Contato</button>
    <button type="button">Novo Grupo</button>
</div>